#currentUser{
	float:right;
	padding-right:15px;
	font-weight:400;
	color:black;
	letter-spacing:1px;
}

.btn{
	margin-top:25px;
}

.weathertypes{
	
	margin-top:25px;
}

h1, h2{
	font-family: 'Montserrat', sans-serif;
}